<header class="masthead">
  <div class="wrapper">
    <div class="masthead__strip">
      <div class="masthead__strip-left mono">
        <span>EST. {{ site.established }}</span>
        <span class="dot">·</span>
        <span>{{ site.sector }}</span>
        <span class="dot">·</span>
        <span>{{ site.edition }}</span>
      </div>
      <div class="masthead__strip-right mono">
        <span>DOC&nbsp;{{ site.doc_id }}</span>
        <span class="dot">·</span>
        <span>REV.&nbsp;{{ site.revision }}&nbsp;/&nbsp;OPEN</span>
        <span class="dot">·</span>
        <span>AUTHOR&nbsp;·&nbsp;{{ site.short_name | upcase }}</span>
      </div>
    </div>

    <div class="masthead__wordmark">
      <a class="masthead__brand" href="{{ site.baseurl }}/" aria-label="{{ site.author }}">
        <span class="masthead__logo" aria-hidden="true">
          <svg viewBox="0 0 32 32" width="22" height="22"><rect x="6" y="6" width="20" height="20" fill="#D85A2A"/><rect x="15" y="15" width="2" height="2" fill="#1A1814"/></svg>
        </span>
        <span class="masthead__name">Anthony M.</span>
      </a>
      <div class="masthead__author mono">
        <span>AUTHORS</span>
        <span class="dot">·</span>
        <span>A.&nbsp;MICHAELS</span>
        <span class="dot">·</span>
        <span>T.&nbsp;BLAKE</span>
      </div>
    </div>
  </div>
  <div class="masthead__rule"></div>
</header>
